/* Basic styling for the header */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #333;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.scrolled {
  border-bottom: solid 1px #ddd;
  backdrop-filter: saturate(180%) blur(20px); 
  background: rgba(0, 0, 0, 0.02);
}

/* Default navigation (hidden in mobile by default) */
.nav {
  display: flex;
  gap: 20px;
  z-index: 10;
}

.nav a {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  font-size: 18px;
  font-family: "Sora", sans-serif;
  transition: all 0.3s ease;
}

.nav a:hover {
  background-color: #fff;
  color: black;
  border-radius: 4px;
}

/* Styling for the active link */
.nav .active {
  color: #04AA6D;
  border-radius: 4px;
  font-weight: 700;
}

/* Hover effect for active links */
.nav .active:hover {
  color: #028a58;
}

/* Hide the toggle button on larger screens */
.toggle-button {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
}

/* Responsive: show toggle button on small screens */
@media (max-width: 768px) {
  .toggle-button {
    display: block;
  }

  /* Hide the navigation by default on mobile */
  .nav {
    display: block;
    position: absolute; /* Change from fixed to absolute */
    top: 60px;
    right: 0;
    width: 0;
    height: 0;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    transition: all ease 0.3s;
    pointer-events: none; /* Disable interaction when closed */
  }

  /* Show the navigation when open */
  .nav.open {
    width: 270px;
    height: 100vh;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(0, 0, 0, 0.02);
    z-index: 15;
    pointer-events: auto; /* Enable interaction when open */
    position: fixed; /* Fix it only when opened */
  }

  /* Style nav items in mobile */
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav ul li {
    margin: 15px 0;
  }
    }
